@font-face {
    font-family: fonte;
    src: url(fonte.ttf);
}

body{
   background-image: url(reversi.jpg);
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;   
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: fonte;
    font-size: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    
}

.button:hover {
    background-color: #3e8e41;
}

#regras {
    display: none;
}

.top{
    top: 10%;
    bottom: auto;
    text-align: center;
    font-family: fonte;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

#infoRegras{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 500px;
    background-color: white;
    border-radius: 30px;
    border-width: medium;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    text-align: left;
    font-family: fonte;
    font-size: 25px;
    
}

.buttonFechar{
    display: block;
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    color: white;
    background-color: #f35651;
    font-size: 20px;
}

.buttonFechar:hover {
    background-color: red;
    cursor: pointer;
}

p{
  margin-top:50px; 
  margin-right: 20px;
}

.nomeJogo{
    display: block;   
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 600px;
    height: auto;
    text-align: center;
    margin-bottom: auto;
    border-width: medium;
    border-style: solid;
    font-family: fonte;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 100px;
}



.jogo{
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: auto;
    border-width: medium;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

#voltar{
    display:inline;   
    background-color: red;
} 
#voltar:hover {
    background-color: #f35651;
}

#restartButton{
    display:inline; 
    background-color: blue;
}
#restartButton:hover {
    background-color: #74a1ea;
}



.cabecalho{
    display: inline;  
    margin-left: auto;
    margin-right: auto;
}

#info{
    display: block;
}

.score{
    font-family: fonte;
    font-size: 30px;
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;  
    justify-content: center;
    background-color: white;
    border-width: medium;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.game {
    margin: auto;
}

.tabuleiroContainer {
    min-width: 400px;
    display: block;
    justify-content: center;
    margin-top: 10%;

}

.tabuleiro {
    margin: auto;
}

.tabuleiro td {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: green;
}

.tabuleiro td div {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: auto;
    transition: 1s background-color;
}

.tabuleiro td.black div {
    background-color: black;
}

.tabuleiro td.white div {
    background-color: white;
}

.game-controls{
    text-align: center;
}

.game-controls button {
    padding: 15px;
    color: white;
    background-color: #2f2f2f;
    border: none;
    outline: none;
}

.game-controls .score {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.turn {
    text-align: center;
    font-size: 12px;
    padding: 15px 0;
}

.winner {
    padding: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    background-color: #d7d7d7;
}

#nome{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    margin-bottom: auto;
    width: 400px;
    height: 100px;
    text-align: center;
    color: white;
    font-family: fonte;
    font-size: 25px;
}


input[type=text] {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        display: none;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 50px;
        border-radius: 30px;
        border-width: medium;
        border-style: solid;
        border-color: rgb(0, 0, 0);
        text-align: left;
        font-family: fonte;
        font-size: 25px;
        
        
}

#formNome{
    display: block;
}

#iniciarJogo{
    display: none;
}