<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="css/style.css">
    <title>Reversi</title>
</head>
<body>
    <div id="nome">
        <input type="text" id="formNome" value="" nome="formNome" placeholder="Digite o seu nome" > 
        <button class="button" onclick="comecar()">COMECAR</button>
    </div>

    <div id="iniciarJogo"> 
    <div class="cabecalho">
     
    <div class="nomeJogo"> 
        <button class="button" id="voltar" onclick="window.location.href='../index.html'" >VOLTAR</button>
        <h1 style="margin-left: 50px; margin-right: 50px; display: inline-block;" >REVERSI</h1>
        <button class="button" id="restartButton">REINICIAR</button>
    </div>

    </div>
    <div class="score"><span id="nomeDoJogador"></span> (pretas) : <span id="pontos1"></span></div>
    <div class="score">IA(brancas) :<span id="pontos2"></span></div>
    <div class="jogo">
        <div class="game-controls">
            <div class="winner"></div>
        </div>
        <div class="tabuleiroContainer"></div>
        <div class="turn"></div>
    </div>

</div>
    <script src="../js/lib/jquery-3.5.0.min.js"></script>
    <script src="../js/Tabuleiro.js"></script>
    <script src="../js/Jogador.js"></script>
    <script src="../js/IA.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/util.js"></script>
</body>
</html>